<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Java"/>
      </watched>
      <dir
        name="megamek">
        <dir
          name="src">
          <dir
            name="megamek">
            <dir
              name="ai">
              <dir
                name="dataset"/>
              <dir
                name="utility"/>
            </dir>
            <dir
              name="client">
              <dir
                name="bot">
                <dir
                  name="princess">
                  <dir
                    name="commands"/>
                </dir>
                <dir
                  name="ui">
                  <dir
                    name="swing"/>
                </dir>
              </dir>
              <dir
                name="commands"/>
              <dir
                name="event"/>
              <dir
                name="generator">
                <dir
                  name="enums"/>
                <dir
                  name="skillGenerators"/>
              </dir>
              <dir
                name="ratgenerator"/>
              <dir
                name="ui">
                <dir
                  name="advancedSearchMap"/>
                <dir
                  name="advancedsearch"/>
                <dir
                  name="baseComponents"/>
                <dir
                  name="comboBoxes"/>
                <dir
                  name="dialogs">
                  <dir
                    name="helpDialogs"/>
                  <dir
                    name="nagDialogs"/>
                </dir>
                <dir
                  name="displayWrappers"/>
                <dir
                  name="enums"/>
                <dir
                  name="lists"/>
                <dir
                  name="models"/>
                <dir
                  name="panels"/>
                <dir
                  name="panes"/>
                <dir
                  name="preferences"/>
                <dir
                  name="renderers"/>
                <dir
                  name="sbf"/>
                <dir
                  name="swing">
                  <dir
                    name="alphaStrike"/>
                  <dir
                    name="audio"/>
                  <dir
                    name="boardview"/>
                  <dir
                    name="calculationReport"/>
                  <dir
                    name="commands"/>
                  <dir
                    name="dialog"/>
                  <dir
                    name="forceDisplay"/>
                  <dir
                    name="gameConnectionDialogs"/>
                  <dir
                    name="lobby">
                    <dir
                      name="sorters"/>
                  </dir>
                  <dir
                    name="minimap"/>
                  <dir
                    name="overlay"/>
                  <dir
                    name="sbf"/>
                  <dir
                    name="scenario"/>
                  <dir
                    name="skinEditor"/>
                  <dir
                    name="tileset"/>
                  <dir
                    name="tooltip"/>
                  <dir
                    name="unitDisplay"/>
                  <dir
                    name="util"/>
                  <dir
                    name="widget"/>
                </dir>
                <dir
                  name="trees"/>
              </dir>
            </dir>
            <dir
              name="codeUtilities"/>
            <dir
              name="common">
              <dir
                name="actions">
                <dir
                  name="sbf"/>
              </dir>
              <dir
                name="alphaStrike">
                <dir
                  name="cardDrawer"/>
                <dir
                  name="conversion"/>
              </dir>
              <dir
                name="annotations"/>
              <dir
                name="autoresolve">
                <dir
                  name="acar">
                  <dir
                    name="action"/>
                  <dir
                    name="board"/>
                  <dir
                    name="handler"/>
                  <dir
                    name="manager"/>
                  <dir
                    name="order"/>
                  <dir
                    name="phase"/>
                  <dir
                    name="report"/>
                  <dir
                    name="role"/>
                </dir>
                <dir
                  name="component"/>
                <dir
                  name="converter"/>
                <dir
                  name="damage"/>
                <dir
                  name="event"/>
              </dir>
              <dir
                name="battlevalue"/>
              <dir
                name="board">
                <dir
                  name="postprocess"/>
              </dir>
              <dir
                name="commandline"/>
              <dir
                name="containers"/>
              <dir
                name="copy"/>
              <dir
                name="cost"/>
              <dir
                name="enums"/>
              <dir
                name="equipment"/>
              <dir
                name="eras"/>
              <dir
                name="event"/>
              <dir
                name="force"/>
              <dir
                name="hexarea"/>
              <dir
                name="icons"/>
              <dir
                name="internationalization"/>
              <dir
                name="jacksonadapters"/>
              <dir
                name="loaders"/>
              <dir
                name="miscGear"/>
              <dir
                name="net">
                <dir
                  name="connections"/>
                <dir
                  name="enums"/>
                <dir
                  name="events"/>
                <dir
                  name="factories"/>
                <dir
                  name="listeners"/>
                <dir
                  name="marshalling"/>
                <dir
                  name="packets"/>
              </dir>
              <dir
                name="options"/>
              <dir
                name="pathfinder"/>
              <dir
                name="planetaryconditions"/>
              <dir
                name="preference"/>
              <dir
                name="scenario"/>
              <dir
                name="strategicBattleSystems"/>
              <dir
                name="templates"/>
              <dir
                name="util">
                <dir
                  name="fileUtils"/>
                <dir
                  name="generator"/>
                <dir
                  name="sorter"/>
                <dir
                  name="weightedMaps"/>
              </dir>
              <dir
                name="verifier"/>
              <dir
                name="weapons">
                <dir
                  name="artillery"/>
                <dir
                  name="autocannons"/>
                <dir
                  name="battlearmor"/>
                <dir
                  name="bayweapons"/>
                <dir
                  name="bombs"/>
                <dir
                  name="c3"/>
                <dir
                  name="capitalweapons"/>
                <dir
                  name="defensivepods"/>
                <dir
                  name="flamers"/>
                <dir
                  name="gaussrifles"/>
                <dir
                  name="infantry"/>
                <dir
                  name="lasers"/>
                <dir
                  name="lrms"/>
                <dir
                  name="mgs"/>
                <dir
                  name="missiles"/>
                <dir
                  name="mortars"/>
                <dir
                  name="other"/>
                <dir
                  name="ppc"/>
                <dir
                  name="primitive"/>
                <dir
                  name="prototypes"/>
                <dir
                  name="srms"/>
                <dir
                  name="tag"/>
                <dir
                  name="unofficial"/>
              </dir>
            </dir>
            <dir
              name="logging"/>
            <dir
              name="server">
              <dir
                name="commands">
                <dir
                  name="arguments"/>
              </dir>
              <dir
                name="props"/>
              <dir
                name="sbf"/>
              <dir
                name="scriptedevent"/>
              <dir
                name="totalwarfare"/>
              <dir
                name="trigger"/>
              <dir
                name="victory"/>
            </dir>
            <dir
              name="test">
              <dir
                name="entities"/>
            </dir>
            <dir
              name="utilities">
              <dir
                name="xml"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="unittests">
          <dir
            name="megamek">
            <dir
              name="client">
              <dir
                name="bot">
                <dir
                  name="princess"/>
              </dir>
              <dir
                name="generator"/>
              <dir
                name="ratgenerator"/>
              <dir
                name="ui">
                <dir
                  name="swing">
                  <dir
                    name="util"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="codeUtilities"/>
            <dir
              name="common">
              <dir
                name="actions"/>
              <dir
                name="loaders"/>
              <dir
                name="options"/>
              <dir
                name="preference"/>
              <dir
                name="util">
                <dir
                  name="weightedMaps"/>
              </dir>
              <dir
                name="verifier"/>
              <dir
                name="weapons"/>
            </dir>
            <dir
              name="logging"/>
            <dir
              name="server">
              <dir
                name="totalwarfare"/>
              <dir
                name="victory"/>
            </dir>
            <dir
              name="utils"/>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language_options
      useLanguagesAsFilter="true"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <codecheck_options/>
  <comparison_options
    comparison_db=""
    git_repo="./."
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    use_spring="false"
    version="Java5"/>
  <metrics
    declared_in_file_display_mode="no_path"
    file_display_mode="no_path"
    show_declared_in_file="false"
    show_function_parameter_types="false"
    write_column_titles="true"
    add_uniquename_column="false"
    metric_filter="28532"/>
  <reports
    date_stamping="false"
    display_parameters="false"
    index_by_method="false"
    group_by_directory="false"
    filename_mode="short"
    generation_status="needs_generation"
    generation_time="0"
    html_clear_directory="false"
    html_generation="true"
    html_mode="alpha"
    headertext_mode="false"
    headerusertext_mode="false"
    headertext_text="Report generated by Understand"
    headerusertext_text=""
    html_size="250"
    text_clear_directory="false"
    text_generation="true"
    text_mode="single">
    <report
      name="Data Dictionary"
      enabled="true"/>
    <report
      name="File Contents"
      enabled="true"/>
    <report
      name="Program Unit Cross Reference"
      enabled="true"/>
    <report
      name="Object Cross Reference"
      enabled="true"/>
    <report
      name="Type Cross Reference"
      enabled="true"/>
    <report
      name="Macro Cross Reference"
      enabled="true"/>
    <report
      name="Include File Cross Reference"
      enabled="true"/>
    <report
      name="Declaration Tree"
      enabled="true"/>
    <report
      name="Extend Tree"
      enabled="false"/>
    <report
      name="Invocation Tree"
      enabled="false"/>
    <report
      name="Simple Invocation Tree"
      enabled="true"/>
    <report
      name="Imports"
      enabled="true"/>
    <report
      name="With Tree"
      enabled="true"/>
    <report
      name="Simple With Tree"
      enabled="true"/>
    <report
      name="Generic Instantiation"
      enabled="true"/>
    <report
      name="Exception Cross Reference"
      enabled="true"/>
    <report
      name="Renames"
      enabled="true"/>
    <report
      name="Program Unit Complexity"
      enabled="true"/>
    <report
      name="Project Metrics"
      enabled="true"/>
    <report
      name="Program Unit Metrics"
      enabled="true"/>
    <report
      name="File Metrics"
      enabled="true"/>
    <report
      name="File Average Metrics"
      enabled="true"/>
    <report
      name="Fortran Extension Usage"
      enabled="true"/>
    <report
      name="Class Metrics"
      enabled="true"/>
    <report
      name="Class OO Metrics"
      enabled="true"/>
    <report
      name="Implicitly Declared Objects"
      enabled="true"/>
    <report
      name="Uninitialized Items"
      enabled="true"/>
    <report
      name="Unused Objects and Functions"
      enabled="true"/>
    <report
      name="Unused Objects"
      enabled="true"/>
    <report
      name="Unused Types"
      enabled="true"/>
    <report
      name="Unused Program Units"
      enabled="true"/>
    <report
      name="Uses Not Needed"
      enabled="true"/>
    <report
      name="Withs Not Needed"
      enabled="true"/>
  </reports>
</project>
